<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/stickies/starburst.png"/>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/welcome.css" type="text/css">
	<link rel="stylesheet" href="css/sign_up.css" type="text/css">
	<link rel="stylesheet" href="css/sign_in.css" type="text/css">
	<link rel="stylesheet" href="css/modal.css" type="text/css">
	<link rel="stylesheet" href="css/nav.css" type="text/css">
</head>
<body>
	{{{body}}}
</body>
</html>