<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<link rel="icon" type="image/png" href="/images/stickies/starburst.png"/>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/welcome.css" type="text/css">
	<link rel="stylesheet" href="css/sign_up.css" type="text/css">
	<link rel="stylesheet" href="css/sign_in.css" type="text/css">
	<link rel="stylesheet" href="css/modal.css" type="text/css">
	<link rel="stylesheet" href="css/nav.css" type="text/css">
	<script type="text/javascript">
	function noBack()
	{
		window.history.forward()
	}
	noBack();
	window.onload = noBack;
	window.onpageshow = function(evt) { if (evt.persisted) noBack() }
	window.onunload = function() { void (0) }
	</script>
</head>
<body>
	{{{body}}}
</body>
</html>