<div class="topnav">
	<div>
		<a class="active" href="#home">Home</a>
		<a href="#news">News</a>
		<a href="#contact">Contact</a>
		<a href="#about">About</a>
	</div>
	<div id="l_o">
		<a href="/logout"><b>Logout</b></a>
	</div>
	<div id="hello">
		{{!-- <a href="#"><h3 id="hi">Hello {{userName}} welcome to my site.</h3></a> --}}
		<a href="#">Hello <b id="ur_Nme">{{userName}}</b> welcome to my site.</a>
	</div>
</div>

{{!-- <a href="/logout"><button class="loginB">LOGOUT</button></a> --}}
{{!-- <a href="/logout"><button class="loginB"><span><img src="/images/chicken.png" id="eggy">LOGOUT</span></button></a> --}}


<div class="card1"><iframe width="560" height="315" src="https://www.youtube.com/embed/luhRkZA-tE4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
<div class="card2"></div>
<div class="card3"> </div>
{{!-- <div class="card4"><a href="modals"><button>Modal</button></a></div> --}}

