<div class="topnav">
	<div>
		<a class="active" href="#home">Home</a>
		<a href="#news">News</a>
		<a href="#contact">Contact</a>
		<a href="#about">About</a>
		<div id="l_o">
			<a href="/logout"><b>Logout</b></a>
		</div>
		<div id="hello">
			{{!-- <a href="#"><h3 id="hi">Hello {{userName}} welcome to my site.</h3></a> --}}
			<a href="#">Hello <b id="ur_Nme">{{userName}}</b> welcome to my site.</a>
		</div>
		<div id="small_chk">
			<img src="/images/chicken.png">
		</div>
		<div class="dropdown" class="dropbtn">
			<button class="dropbtn">Dropdown 
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#">Link 1. One of the things that I really like at work is the fact that we spend time in research tickets. We have unknowns and we make a research to find out more information on particular topic. We then base our decisions on the results. Recently we had to decide whether to use an  for a third party widget development. I feel that the collected information may be handy to someone else so I decided to write it down here.

					Briefly
					A widget in the context of web development is a piece of UI that delivers additional functionality or information. It’s very often a product of a another company that we inject in our own sites. As such it should work as expected and it should not break what’s on the page already. There are primarily two ways of achieving this:

					Using an  tag
					Providing a  tag that injects markup
					So, the question is which one of the two methods fits better. They both have pros and cons so let’s explore.

					iframe, unicorns and rainbows
					The tag may seem like an ancient technology but there are some goodies:

					Security

					The  tag is considered the safer approach. Mainly because the JavaScript inside the iframe is running in the context of another page. Of course there are always security risks but it is definitely better then including an external JavaScript that has a direct access to our DOM tree (and not only).

				Doesn’t block the rendering</a>
				<a href="#">Link 2</a>
				<a href="#">Link 3</a>
			</div>
		</div> 
	</div>
</div>
{{!-- <button><img id="small_chk" src="/images/chicken.png">Git</button> --}}
</div>

{{!-- <a href="/logout"><button class="loginB">LOGOUT</button></a> --}}
{{!-- <a href="/logout"><button class="loginB"><span><img src="/images/chicken.png" id="eggy">LOGOUT</span></button></a> --}}


<div class="card1"><iframe width="560" height="315" src="https://www.youtube.com/embed/luhRkZA-tE4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
<div class="card2"><iframe width="560" height="315" src="https://www.youtube.com/embed/Pbq3JgB9nBU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
<div class="card3"> </div>
{{!-- <div class="card4"><a href="modals"><button>Modal</button></a></div> --}}

