<div class="topnav">
	<div>
		<a class="active" href="#home">Home</a>
		{{!-- <a href="#news">News</a> --}}
		{{!-- <a href="#contact">Contact</a> --}}
		<div id="time" ></div>
		<div id="l_o">
			<a href="/logout"><b>Logout</b></a>
		</div>
		<div id="hello">
			{{!-- <a href="#"><h3 id="hi">Hello {{userName}} welcome to my site.</h3></a> --}}
			<a href="#">Hello <b id="ur_Nme">{{userName}}</b> welcome to my site.</a>
		</div>
		<div id="small_chk">
			<img src="/images/chicken.png">
		</div>


		<div class="dropdown" class="dropbtn">
			<button class="dropbtn">News 
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<div >
					<a href="#" id="drp_clr_bdy">
						Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; This is more then likely going to link to some blogs, or show snippets or something.  Maybe.
					</a>
					<div id="med_chk">
						<img src="/images/chicken.png">
					</div>
					<a href="#">Phone</a> <spant>704-281-2069</span> {{!-- this will float --}}
						<a href="#">email </a> 
						<a href='#'>linkedin</a>
					</div>
				</div>
			</div>




			<div class="dropdown" class="dropbtn">
				<button class="dropbtn">Contact 
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<div >
						<a href="#" id="drp_clr_bdy">
							Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; I am excited and can't tell you how excited I am to be apart of your team.  I'm a hus





						</a>
						<div id="med_chk">
							<img src="/images/chicken.png">
						</div>
						<a href="#">Phone</a> <spant>704-281-2069</span> {{!-- this will float --}}
							<a href="#">email </a> 
							<a href='#'>linkedin</a>
						</div>
					</div>
				</div> 



				<div class="dropdown" class="dropbtn">
					<button class="dropbtn">About 
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<div >
							<a href="#" id="drp_clr_bdy">
								Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

								I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

								I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

								Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

								I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

								I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

								<p>
									Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.
								</p>

								<p>
									Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									Welcome to my page &#13; &#13; &#13; &#13; &#13; &#13; I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.

									I am excited and can't tell you how excited I am to be apart of your team.  I'm a husband, father, traveler, golf enthusiast, and all around great guy.
								</p>

							</a>
							<div id="med_chk">
								<img src="/images/chicken.png">
							</div>
							<button class="inside_drpdown_btn">Resume</button>
							<button class="inside_drpdown_btn">Future</button>
							{{!-- <a href="#" class="topnav">Future  </a> --}}
						</div>
					</div>
				</div> 
			</div>
		</div>
		{{!-- <button><img id="small_chk" src="/images/chicken.png">Git</button> --}}
	</div>

	{{!-- <a href="/logout"><button class="loginB">LOGOUT</button></a> --}}
	{{!-- <a href="/logout"><button class="loginB"><span><img src="/images/chicken.png" id="eggy">LOGOUT</span></button></a> --}}


	<div class="card1"><iframe width="560" height="315" src="https://www.youtube.com/embed/luhRkZA-tE4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
	<div class="card2"><iframe width="560" height="315" src="https://www.youtube.com/embed/Pbq3JgB9nBU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
	<div class="card3"> </div>
	{{!-- <div class="card4"><a href="modals"><button>Modal</button></a></div> --}}

