<div class="topnav">
	<div>
		<a class="active" href="#home">Home</a>
		{{!-- <a href="#news">News</a> --}}
		{{!-- <a href="#contact">Contact</a> --}}
		<div id="time" ></div>
		<div id="l_o">
			<a href="/logout"><b>Logout</b></a>
		</div>
		<div id="hello">
			{{!-- <a href="#"><h3 id="hi">Hello {{userName}} welcome to my site.</h3></a> --}}
			<a href="#">Hello <b id="ur_Nme">{{userName}}</b> welcome to my site.</a>
		</div>
		<div id="small_chk">
			<img src="/images/chicken.png">
		</div>

		<div class="dropdown" class="dropbtn">
			<button class="dropbtn">Contact 
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<div>
					<div id="how">
						<h2 id="how2">How do you call me?</h2>
						<div id="joke">
							<h2 id="func">call = () => {<p>var me = <span class="digits">"704-281-2069"</span><br></p> return me;<br>}<br><br>call()</h2>
							<h2 id="funny">C'mon Funny right??</h2>
						</div>
						<div id="email">
							<img src="/images/TES_Logo-E.png">
							<h2>rodrossdev@gmail.com</h2>
						</div>
						<span class="enjoy">
							<p>
								<span class="hearts">
									<strong>♥</strong>
								</span> 
								Enjoy 
								<span class="hearts">
									<strong>♥</strong>
								</span>
								life 
								<span class="hearts">
									<strong>♥</strong>
								</span>
							</p>
						</span>
					</div>
					<a href="#" id="drp_clr_bdy">
						<div id="starburst">
							<img src="/images/stickies/starburst.png">
							{{!-- &#13; &#13; &#13; &#13; &#13; &#13; --}}
						</div>
					</a>
				</div>
				<div class="med_chk">
					<img src="/images/chicken.png">
				</div>
				<div class="buttonsss">
					<button id="phone_btn" class="inside_drpdown_btn">Phone</button> 
					<button id="email_btn" class="inside_drpdown_btn">Email</button> 
					<button id="linkedin_btn" class="inside_drpdown_btn">IN</button>
				</div>
			</div>
		</div> 



		<div class="dropdown" class="dropbtn">
			<button class="dropbtn">About 
				<i class="fa fa-caret-down"></i>
			</button>	
			<div class="dropdown-content">
				<div >
					<a href="#" id="drp_clr_bdy">

						Welcome to my page and thank you for taking the time to log in.  I am a Full Stack Web Developer and completed a Full Stack Web development program offered at The University of North Carolina - Charlotte.  The program focused on everything from basic front end langauges like HTML and CSS, to libraries such as Bootstrap and Materialize.  We learned DOM manupulation with vanilla javascript, then advanced to jQuery, Handlebars, and capped the curriculumn off with REACT JS.  We also learn database manage systems such as Google's Firebase, Mongo, and MySQL.  The biggest take away that I acquired from the class was become familiar with the docs, and then ask Google. More then likely someone else has had the same question. 

						<p>
							Since completion of of the course I continue to build my knowledge base and understanding, to write cleaner and more effective code.  This website is my personal play ground to practice as well as show case future deployed apps.  So please feel free to check back from time to time see what's new.
						</p>

						<p>
							What I really enjoyed about my class was that everything was new.  I had a great instructor as well as teacher assistants and the environment truly mirrored a real world environment.  We had to work with team members from vast backgrounds, create and revise strategies and put together full apps and websites.  Each project presented it's own unique set of challenges, that upon completion proved that I belong in this life.  
						</p>

						<p>
							Prior to coding I wore many different hats.  I am a disabled veteran of the mighty United States Marine Corps.  The values I've learned in the Marines, such as honor, integrity, discipline and leadership are still anchored in my values today.  As the saying goes, once a Marine, always a Marine.  
						</p>

						<p>
							I'm also an accomplished professional photographer.  Photography was ultimately the gateway into coding.  I've taken pictures of world class models, many of them at the beginning of their careers.  There's a posibility that some of the modals seen in commericails addsd in the North Carolina market have been in front of my lens.  This includes my son who's been featured in Belk's seasonal print advertisements, catalogs, and onlline media  for the past few years.  I translate those experiences into front end development such as considering a color pallet, color harmony, and the balance of the page.  
						</p>

						<p>
							For ever the student is my motto.  I love positivity, and challenges don't phase me because they are opportunities to remain a humbled student.  My site is a bit spartan, but I like where it is for today and here's what's happening under the hood.  
						</p>

						<p>
							I decided to keep this projection as close to vanilla javascript as possible.  Mainly to remind me of why we use packages, but also to keep core skills sharp.  The code is for this is written primarily in Handlebars.  The CSS is all me, and many trips to StackOverFlow, and W3.  MySql is used to house store login credentials.  Node and Express is used to handle the routes on the server side and Passport JS is used for the log in security.  
						</p>

						<p>
							There have been many take great aways fron this project and if you've made it this far I want to say thank you for taking the time to read a little bit about me.  This is just a glimpse and I look forward to an opportunity that includes  you.  Positive vibes and Peace. 
						</p>

					</a>
					<div class="med_chk">
						<img src="/images/chicken.png">
					</div>
					<div id="resume">
						{{!-- <embed src="/images/Resume.pdf" "#" width="1000" height="375" type='application/pdf'></embed> --}}
					</div>
					<a onclick="window.open('/images/Resume.pdf', 'newwindow', 'width=100%', 'height=auto'); return false;"><button class="inside_drpdown_btn">Resume</button></a>
					
					<button class="inside_drpdown_btn">Future</button>
					{{!-- <a href="#" class="topnav">Future  </a> --}}
				</div>
			</div>
		</div> 
	</div>
</div>

<script type="text/javascript" src="logic/contact.js"></script>