<h1>YOU ARE HERE</h1>
{{!-- <button formaction="/logout" type="submit">LOGOUT</button> --}}
{{!-- <a href="/logout"><button type="submit">LOGOUT</button></a> --}}
<a href="/logout"><button class="loginB">LOGOUT</button></a>
{{!-- <a href="/logout"><button class="loginB"><span><img src="/images/chicken.png" id="eggy">LOGOUT</span></button></a> --}}
<div class="card1"></div>
<div class="card2"></div>
<div class="card3"></div>
<div class="card4"></div>

