<a href="SignIn">
	<img src="/images/chicken.png" class="chicken" alt="Chicken" title="Click here to begin">
</a>
<div class="nameW"><span id="me">I am</span> <br>Rodney<br>Ross</div>
<div id="name2"> Welcome !</div>
{{!-- <script src="logic/me.js"></script> --}}
<script src="logic/welcome.js"></script>