<a href="SignIn">
	<img src="/images/chicken.png" class="chicken" alt="Chicken" title="Click here to begin">
</a>
<div class="greetings">
	<div id="me" class="nameW">I am</div>
	<div class="nameW" id="rod">Rodney<br>Ross</div>
	<div id="name2" class="nameW"> Welcome !</div>
</div>
{{!-- <script src="logic/me.js"></script> --}}
<script src="logic/welcome.js"></script>