<a href="SignIn">
	<img src="/images/chicken.png" class="chicken" alt="Chicken" title="Click here to begin">
	<div class="greetings" title="Click here to begin">
		<div id="me" class="nameW">I am</div>
		<div class="nameW" id="rod">Rodney<br>Ross</div>
		<div id="name2" class="nameW"> Welcome !</div>
	</div>
</a>
{{!-- <script src="logic/me.js"></script> --}}
<script src="logic/welcome.js"></script>