#hello {
	font-size: 25px;
	float: right;
	/* text-align: center; */
}

#hi {
	margin: 0;
}

#l_o {
	background-color: #ff1616;
	margin: 0;
	float: right;
	margin-right: 4%;
}


#bigChken {
	max-height: auto;
	width: 85%;
}
#small_chk {
	float: right;
	max-height: auto;
	max-width: 5.5%;
	padding-top: 5px;
}
/*Chicken in About dropdown*/
img, .med_chk {
	float: left;
	max-height: auto;
	max-width: 500px;
	margin: 0;
	padding: 3%;
}

/*/////////////////////////////////////*/
/*///////////navbar///////////////////*/
/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
	overflow-y:hidden;
	margin-bottom: 0.5%;
	margin-top: -0.5%;
	margin-left: -0.5%;
	margin-right: -0.5%;
	/*padding-left:0.5%;*/
	/*padding-top:0.5%;*/
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;    
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px; /*///button sizes*/
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

#drp_clr_bdy {
	color: black;
	display: block;
	float: right;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 40%;
	padding-top: 30px; /*//pushes down content inside of tab dropdown*/
	text-align: justify;
	scroll-behavior: smooth;
	height: 500px;
	overflow: auto;
	/*overflow: hidden;*/
	/*overflow-y:hidden;*/
}

/*Changes the scroll bar to yellow*/
::-webkit-scrollbar-track, #drop_clr_bdy {
	/*box-shadow: inset 0 0 5px white; */
	border-radius: 10px;
	background: #ffeb04;
}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #ffeb04;
	color: black;
}	

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #ffeb04;
	color: black;
	/*min-width: 10px;*/
	width:100%; /*///width of the dropdown tabs body*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a.active {
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ffeb04;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #ff1616;
	color: white;
}

.ur_Nme {
	color: red;
}
#ur_Nme:hover {
	/*background-color: red;*/
	color: red;
}

.l {
	color: #333;
}

.i {
	color: #ffeb04;
}

/*.hide_me {display:none;}*/

.buttonsss {
	position:absolute;
	/*margin-top:25.55%;*/ /*shrinks and stays relative original layout - good for mobile responsive..maybe*/
	margin-top:349px;  /*stays in same location when screen resizes*/
}
/*Buttos inside of the nav dropdown area*/
.inside_drpdown_btn {
	position:relative;
	background-color: red;
	height: 48px;
	outline: none;
	width: 90px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	overflow: hidden;
	cursor: pointer;
}

.inside_drpdown_btn:after {
	content:"";
	background: yellow;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 250%;
	margin-left: -70px;
	margin-top: -120%;
	opacity: 0;
	transition: all 1s
}

.inside_drpdown_btn:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}
.inside_drpdown_btn:hover {
	background-color: #700000;
} 

#how {
	font-variant: small-caps;
	/*font-size: 40%;*/
	position:absolute;
	margin-left:34%;
	margin-top: 4%;
	/*margin-left: -70px;*/
}	

#joke {
	font-size: 11px;
	font-weight:normal;
}
/*///make transition or animation for this div to slide down*/

#email {
	display: none;
}

.email_img {
	height:auto;
	width:215px;
	margin-left: 20px;
	margin-top: -15px;
	margin-bottom: -60px;
	padding-bottom: 33px
}

.digits {
	color:red;
	/*font-weight: normal;*/
	font-size: 18px;
}
.enjoy {
	font-size: 30px;
	font-weight: bold;
	/*margin-: -25px;*/
}
.hearts {
	/*color: #2B794F;*/
	/*text-shadow: 10px 14px 15px #552803, 1px 1px 2px black;*/
	color: red; 
}
/*/////////////////////////////////////*/
/*///////// sticky images /////////////*/
/*/////////////////////////////////////*/

#call_me {
	display: none;
	height: auto;
	width: 307%;
	margin-left:-10%;
	margin-right: 60px;
	margin-top: -25%;
}

#starburst {
	height: auto;
	width: 200%;
	margin-right: 10px;
	margin-left: 17%;
	margin-top:-4%;
	overflow: none;
	position: static;
}

/*/////////////////////////////////////*/
/*///////// i  frame      /////////////*/
/*/////////////////////////////////////*/

iframe {
	margin-top: 100px;
	position: relative;
	height: 315px;
	width: 530px;
	margin-left: 100px;
}

#clock {
	background-color: inherit; 
	color: white;
	font-size: 18px;
	float: right;
	margin-left: -4%;
	width: 10%;
}

#red_welcome {
	color:red;
	display: inline-block;
	margin: 0;
}

.fade {
	content: "";
	width: 100%;
	height: 150px;
	display: block;
	position: absolute;
	background: #ffeb04;
	/*background: -webkit-gradient(linear, 0% 20% % 100%, from( #ffeb04 ), to(rgba(transparent)));*/
	background: -webkit-linear-gradient(top, #ffeb0400, #ffeb04, #ffeb04);
	background: -moz-linear-gradient(top, rgba(225, 235, 4, 1), rgba(225, 4, 4, 0.31));
	background: -ms-linear-gradient(top, rgba(225, 235, 4, 1), rgba(225, 4, 4, 0.31));
	background: -o-linear-gradient(top, rgba(1225, 235, 4, 1), rgba(225, 4, 4, 0.31));
	bottom: 0;
	left: 0;
	z-index: 10;
}

#clock2 {
	display:none;
}	

#quotes {
	font-size: 200%;
	height: auto;
	margin-top:15%;
	margin-left:6%;
	padding-left: 16%;
	text-align: right;
	width: 75%;
}

#hello2 {
	display: none; 
}

/*///////////iphone 7 plus Landscape Orientation /////////////*/

@media screen and (max-width: 736px) and (min-width: 718px) {
	.topnav { width: 101%; }
	#clock { font-size: 15px }
	.med_chk {position:absolute; top:32px; width:405px; padding:0;}
	.buttonsss {margin-top: 264px;}
	.fade {height: 386px; z-index: 0;}
	#how {margin-top: 16px; margin-left: 42%}
	#starburst {position:absolute; left:45px; top:13px; height: 633px; width:633px; z-index: -1; opacity: 0.1; margin: 0; padding:0;}
	#bigStar {position: absolute; left: 120px; width: auto; top: -42px;}
	.digits {
		color:red;
		/*font-weight: normal;*/
		font-size: 25px;
	}
}


/*///////////iphone 7 plus Portrait Orientation /////////////*/
@media screen and (max-width: 414px) and (min-width: 376px) {
	.topnav {position: fixed; width: 97%; overflow: visible;}
	.dropbtn {overflow: visible;}
	.dropdown {position:static; float:left;}
	.dropdown-content {width: 97%; right:6px; position:fixed; z-index:10;}
	#drp_clr_bdy {max-width:80%; text-align: unset;}
	.fade {bottom: 0%; z-index: 0; height: 61%;}
	#how {left:12%; top:2%; position: absolute; margin-left: 0; width: 255px;}
	.digits {
		color:red;
		/*font-weight: normal;*/
		font-size: 21px;
	}
	.enjoy {margin-top: -5px;}	
	#starburst {position:absolute; width:65%; top:324px; left:240px; z-index: 0; margin-left: 0; margin-top:0; transform: skewY(-23deg)skewX(60deg); -webkit-transform: skewY(-23deg)skewX(60deg);}
	.buttonsss {top: 23px; left: 12px;}
	.med_chk {position:absolute; bottom: 109px; width: 40%; z-index:2; right:-27px;}
	/*.inside_drpdown_btn{margin-left: 6%;}*/
	/*#contactTab {margin-right: 8px;}	*/
	/*.hide_me { display:block; }*/
	#hello {display:none;}
	#hello2 {display: block; position:fixed; top: 66px; left: 19px; font-size: 20px; z-index: -1; font-variant: small-caps; background: linear-gradient(to right, yellow 0%, red 100%);-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;}
		#hello_link {width:116.4%;  z-index: 3;};
		#home {position:fixed; margin-top: 48px;}
		#l_o {position: absolute; margin-left:78%; margin-right:-3%;}
		#bigChken {position: fixed; top: 28%; width: 147%; left:15%; z-index: -1;}
		.justify {text-align: right; font-size: 90%}
		#quotes {position: fixed; bottom: 2%; right: 18%; text-align: right; font-size: 122%; z-index: -10;}
		.l {color: #707070}
		/*#clockDiv {display:none;}*/
		#clock2 {display:block; color:white; font-size: 70px; position:fixed; top:18%; z-index:-10; left:9px;}
		/*.s {position: fixed;}*/
		.P {position: fixed; right: 180px; top:29%;}
		.M {position: fixed; right: 123px; top:29%;}
		
		/*/// Welcome Screen ///*/
		.chicken {position: absolute; z-index:-2; width:89%; top:10%; opacity: 0.2; float:none; padding:0;}
		.greetings {position: absolute; float:none; top:34px; left:40px; width: 151px; margin:0;}
		#i_am {color:yellow;}
		#salute {color:red;}
		#rod {font-size: 533%; width: 362px; margin: 0;}
		#me {position: absolute; top:53px; font-size: 322%; width:366px; height:auto; color:yellow;}
		#name2 {position: absolute; top: 384px; font-size: 322%; width:366px; height:auto; color:red;}
		.nameW {position: absolute; font-size: 351%; top: 157px;}

		/*/// Register Form ///*/
		#big_C {font-size: 241%}
		.scroll {position:absolute; width:85%; float:none; margin:0 0 0 0; max-width: none; left:32px; top: 62px;}
		.names {width:130px;}
		.how {font-size: 21px;}
		textarea {border-left: 1px solid #ebdf44; border-top: 1px solid #ebdf44;}


		/*/// Failed login Modal ///*/
		/*.modal {width:0;}*/
		#myModal {position:absolute; width:234px; padding:0; height:33%; left:86px; top: 236px;}
		#modal-content {position:absolute; margin:0; width: 100%;}
		.modal-header .modal-footer .modal-body {width:stretch;}
		.modal_body_input {display:none;}
		.info1 {display: none;}
		.info2 {display: block; font-size: 20px}
		#myBtn2 {display:none;}
	}

	/*///////////iphone 6 Portrait Orientation /////////////*/
	@media screen and (max-width: 375px) and (min-width: 330px) {
		.topnav {position: fixed; width: 97%; overflow: visible;}
		.dropdown {position:static; float:right;}
		.dropdown-content {width: 107%; right:-28px;}
		.inside_drpdown_btn{margin-left: 6%;}
		#contactTab {margin-right: 97px;}	
		#hello {display:none;}
		#hello2 {display: block; position:fixed; left: 31px; top: 65px;  z-index: -10;}
		#hello_link {width:116.4%;  z-index: 3;};
		#home {position:fixed; margin-top: 48px;}
		#l_o {position: absolute; margin-left:78%; margin-right:-3%;}
		#bigChken {position: fixed; top: 28%; width: 147%; left:15%;  z-index: -10;}
		.justify {text-align: right; font-size: 90%}
		#quotes {position: fixed; bottom: 0%; right: 18%; text-align: right; font-size: 122%;  z-index: -10;}
		#clock {display:hidden;}
		#clock2 {display:block; color:white; font-size: 70px; position:fixed; top:15%;  z-index: -10;}
		.l {color: #707070}
		.P {position: fixed; right: 180px; top:26%;}
		.M {position: fixed; right: 120px; top:26%;}

		/*/// Welcome Screen ///*/
		.chicken {position: absolute; z-index:-2; width:89%; top:10%; opacity: 0.2; float:none; padding:0;}
		.greetings {position: absolute; float:none; top:34px; left:40px; width: 151px; margin:0;}
		#i_am {color:yellow;}
		#salute {color:red;}
		#rod {font-size: 533%; width: 362px; margin: 0;}
		#me {position: absolute; top:53px; font-size: 322%; width:366px; height:auto; color:yellow;}
		#name2 {position: absolute; top: 384px; font-size: 322%; width:366px; height:auto; color:red;}
		.nameW {position: absolute; font-size: 351%; top: 157px;}

		/*/// Register Form ///*/
		#big_C {font-size: 241%}
		.scroll {position:absolute; width:85%; float:none; margin:0 0 0 0; max-width: none; left:32px; top: 62px;}
		.names {width:130px;}
		.how {font-size: 21px;}
		textarea {border-left: 1px solid #ebdf44; border-top: 1px solid #ebdf44;}


		/*/// Failed login Modal ///*/
		/*.modal {width:0;}*/
		#myModal {position:absolute; width:234px; padding:0; height:33%; left:57px; top: 215px;}
		#modal-content {position:absolute; margin:0; width: 100%;}
		.modal-header .modal-footer .modal-body {width:stretch;}
		.modal_body_input {display:none;}
		.info1 {display: none;}
		.info2 {display: block; font-size: 20px}
		#myBtn2 {display:none;}

		/*///////iphone5/SE portrait orientatio//////////*/
		@media screen and (max-width: 321px) {
			.topnav {margin-right:-19.5%; max-width: 112%}
			.dropdown {position:static; float:right;}
			.dropdown-content {width: 107%; right:-28px;}
			.inside_drpdown_btn{margin-left: 6%;}
			#contactTab {margin-right: 94px;}	
			#hello {position:absolute; margin: 49px 0px 0px 0px;}
			#hello_link {width:116.4%;};
			#home {position:absolute; margin-top: 48px;}
			#l_o {position: absolute; margin-left:78%; margin-right:-3%;}
			#bigChken {position: fixed; top: 21%; width: 170%;}
			.justify {text-align: right; font-size: 90%}
			#quotes {position: fixed; bottom: 6%; right: 14%; text-align: right; font-size: 122%;}
			#clock {position: fixed; width: 308px; left: 10%; bottom: 75%; font-size: 52px;}
			.l {color: #707070}
		}


		

		/*////////////////////////////////*/
		/*/////////// pdf ///////////////*/
		/*//////////////////////////////*/

/*#resume {
	position: absolute;
}*/