#hello {
	font-size: 25px;
	float: right;
	/* text-align: center; */
}

#hi {
	margin: 0;
}

#l_o {
	background-color: #ff1616;
	margin: 0;
	float: right;
	margin-right: 4%;
}

#small_chk {
	float: right;
	max-height: auto;
	max-width: 5.5%;
	padding-top: 5px;
}
/*Chicken in About dropdown*/
img, #med_chk {
	float: left;
	max-height: auto;
	max-width: 500px;
	margin: 0;
	padding: 3%;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
	overflow-y:hidden;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;    
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

#drp_clr_bdy {
	color: black;
	display: block;
	float: right;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 40%;
	padding-top: 30px;
	text-align: justify;
	scroll-behavior: smooth;
	height: 500px;
	overflow: auto;
	/*overflow: hidden;*/
	/*overflow-y:hidden;*/
}

/*Changes the scroll bar to yellow*/
::-webkit-scrollbar-track, #drop_clr_bdy {
	/*box-shadow: inset 0 0 5px white; */
	border-radius: 10px;
	background: #ffeb04;
}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #ffeb04;
	color: black;
}	

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #ffeb04;
	color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a.active {
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ffeb04;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #ff1616;
	color: white;
}

#ur_Nme {
	color: red;
}

#ur_Nme:hover {
	/*background-color: red;*/
	color: red;
}

/*Buttos inside of the nav dropdown area*/
.inside_drpdown_btn {
	position:relative;
	background-color: red;
	height: 48px;
	outline: none;
	width: 90px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	overflow: hidden;
	cursor: pointer;
}

.inside_drpdown_btn:after {
	content:"";
	background: yellow;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 250%;
	margin-left: -70px;
	margin-top: -120%;
	opacity: 0;
	transition: all 1s
}

.inside_drpdown_btn:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}
.inside_drpdown_btn:hover {
	background-color: #700000;
} 

/*/////////////////////////////////////*/
/*///////// sticky images /////////////*/
/*/////////////////////////////////////*/

#bak_bak {
	height: auto;
	width: 18%;
	margin-top: 19%;
	position: absolute;
	margin-left: 64%;
}

#call_me {
	height: auto;
	height: 1200px;
	width: 1300px;
	width: 60%;
	margin-left:-10%;
	margin-right: 20px;
	margin-top: -18%;
}


#starburst:hover  p {
	display: block;