#hello {
	font-size: 25px;
	float: right;
	/* text-align: center; */
}

#hi {
	margin: 0;
}

#l_o {
	background-color: #ff1616;
	margin: 0;
	float: right;
	margin-right: 4%;
}

#bigChken {
	max-height: auto;
	width: 85%;
}
#small_chk {
	float: right;
	max-height: auto;
	max-width: 5.5%;
	padding-top: 5px;
}
/*Chicken in About dropdown*/
img, .med_chk {
	float: left;
	max-height: auto;
	max-width: 500px;
	margin: 0;
	padding: 3%;
}

/*/////////////////////////////////////*/
/*///////////navbar///////////////////*/
/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
	overflow-y:hidden;
	margin-bottom: 0.5%;
	margin-top: -0.5%;
	margin-left: -0.5%;
	margin-right: -0.5%;
	/*padding-left:0.5%;*/
	/*padding-top:0.5%;*/
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;    
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px; /*///button sizes*/
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

#drp_clr_bdy {
	color: black;
	display: block;
	float: right;
	margin-left: 5%;
	margin-right: 5%;
	max-width: 40%;
	padding-top: 30px; /*//pushes down content inside of tab dropdown*/
	text-align: justify;
	scroll-behavior: smooth;
	height: 500px;
	overflow: auto;
	/*overflow: hidden;*/
	/*overflow-y:hidden;*/
}

/*Changes the scroll bar to yellow*/
::-webkit-scrollbar-track, #drop_clr_bdy {
	/*box-shadow: inset 0 0 5px white; */
	border-radius: 10px;
	background: #ffeb04;
}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #ffeb04;
	color: black;
}	

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #ffeb04;
	color: black;
	/*min-width: 10px;*/
	width:100%; /*///width of the dropdown tabs body*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a.active {
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ffeb04;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #ff1616;
	color: white;
}

.ur_Nme {
	color: red;
}
#ur_Nme:hover {
	/*background-color: red;*/
	color: red;
}

.l {
	color: #333;
}

.i {
	color: #ffeb04;
}

.buttonsss {
	position:absolute;
	/*margin-top:25.55%;*/ /*shrinks and stays relative original layout - good for mobile responsive..maybe*/
	margin-top:349px;  /*stays in same location when screen resizes*/
}
/*Buttos inside of the nav dropdown area*/
.inside_drpdown_btn {
	position:relative;
	background-color: red;
	height: 48px;
	outline: none;
	width: 90px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	overflow: hidden;
	cursor: pointer;
}

.inside_drpdown_btn:after {
	content:"";
	background: yellow;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 250%;
	margin-left: -70px;
	margin-top: -120%;
	opacity: 0;
	transition: all 1s
}

.inside_drpdown_btn:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}
.inside_drpdown_btn:hover {
	background-color: #700000;
} 

#how {
	font-variant: small-caps;
	/*font-size: 40%;*/
	position:absolute;
	margin-left:34%;
	margin-top: 4%;
	/*margin-left: -70px;*/
}	

#joke {
	font-size: 11px;
	font-weight:normal;
}
/*///make transition or animation for this div to slide down*/

#email {
	display: none;
}

.email_img {
	height:auto;
	width:215px;
	margin-left: 20px;
	margin-top: -15px;
	margin-bottom: -60px;
	padding-bottom: 33px
}

.digits {
	color:red;
	/*font-weight: normal;*/
	font-size: 18px;
}
.enjoy {
	font-size: 30px;
	font-weight: bold;
	/*margin-: -25px;*/
}
.hearts {
	/*color: #2B794F;*/
	/*text-shadow: 10px 14px 15px #552803, 1px 1px 2px black;*/
	color: red; 
}
/*/////////////////////////////////////*/
/*///////// sticky images /////////////*/
/*/////////////////////////////////////*/

#call_me {
	display: none;
	height: auto;
	width: 307%;
	margin-left:-10%;
	margin-right: 60px;
	margin-top: -25%;
}

#starburst {
	height: auto;
	width: 200%;
	margin-right: 10px;
	margin-left: 17%;
	margin-top:-4%;
	overflow: none;
	position: static;
}

/*/////////////////////////////////////*/
/*///////// i  frame      /////////////*/
/*/////////////////////////////////////*/

iframe {
	margin-top: 100px;
	position: relative;
	height: 315px;
	width: 530px;
	margin-left: 100px;
}

#clock {
	background-color: inherit; 
	color: white;
	font-size: 18px;
	float: right;
	margin-left: -4%;
	width: 10%;
}

#red_welcome {
	color:red;
	display: inline-block;
	margin: 0;
}

.fade {
	content: "";
	width: 100%;
	height: 150px;
	display: block;
	position: absolute;
	background: #ffeb04;
	/*background: -webkit-gradient(linear, 0% 20% % 100%, from( #ffeb04 ), to(rgba(transparent)));*/
	background: -webkit-linear-gradient(top, #ffeb0400, #ffeb04, #ffeb04);
	background: -moz-linear-gradient(top, rgba(225, 235, 4, 1), rgba(225, 4, 4, 0.31));
	background: -ms-linear-gradient(top, rgba(225, 235, 4, 1), rgba(225, 4, 4, 0.31));
	background: -o-linear-gradient(top, rgba(1225, 235, 4, 1), rgba(225, 4, 4, 0.31));
	bottom: 0;
	left: 0;
	z-index: 10;
}	

#quotes {
	font-size: 200%;
	height: auto;
	margin-top:15%;
	margin-left:6%;
	padding-left: 16%;
	text-align: right;
	width: 75%;
}

/*////////////////////////////////*/
/*/////////// pdf ///////////////*/
/*//////////////////////////////*/

/*#resume {
	position: absolute;
}*/