.si_name {
	float: right;
	font-variant: small-caps;
	font-size: 426%;
	height: 400px;
	margin-right:12%;
	margin-top: 13%;
	max-width: 72%;
	/*overflow: auto;*/
}

#enter1, #enter2 {
	padding-top: 3%;
	padding-bottom: 3%;
}

.register {
	margin-top: -10%;
	text-shadow: 2px 2px 30px #ff000029;
}

.regi_:hover {
	color: #f8e504;
}

a.regi_ {
	text-decoration: none;
}

#regi_button:active {
	transform: translateY(4px);
}