.scroll {
	float:right;
	font-size:.85vw;
	height: 400px;
	margin-right:15%;
	max-width: 32%;
	margin-top: 10.3%;/*overflow: auto;*/
	width: 82%;
	overflow: hidden;
	/*margin-top: 7%;*/
}

.name {
	display: inline-block;
}

#big_C {
	float:left;
	font-variant: small-caps;
	font-size: 90%;
	/*margin-left: -2%;*/
	/*margin-top: 14%;*/
	padding-bottom: 11%;
	text-align: center;
}

#lil_a {
	float:left;
	font-size: 80%;
	text-align: center;
	font-variant: small-caps;
	padding-bottom: 5%;
}

#signUp { /*///form///*/
	height:300px;
	width:100%;
	overflow: auto;
}

#names1, #names2, #names3, #names4 { /*input field*/
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
	padding: 12%,5%;
}

#names2, #names4 {
	margin-left: 2.9%;
}

#loginC { /*submit button*/
	float: right;
	margin-right: 33px;
	margin-bottom: 84px;
}

/*scroll bar*/
::-webkit-scrollbar{
	width: 2px;
	/*height: 10px;*/
	padding-top: 40px;
}
