body {
  background: #060a0b;
  color: #eee;
}
.container {
  position: relative;
  width: 50%;
  left: 50%;
}
.name {
  color: #eee;
  font-size: 10pc;
  /*text-align: right;*/
  padding-bottom: 6%;
}
img {
  display: block;
  width: 40%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;
  background-color: #060a0b;
}

/*.container:hover .overlay {
  opacity: 1;
}*/

.intro:hover .overlay {
  opacity: 1;
}
/********/
.chicken {
  float:left;
  padding-right: 8%;
  
}

input {
  background-color: #060a0b;
  color: #eee;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%
}

a {
  color: red;
  font-size: 18px;
}

.home {
  color: white;
  width: 20%;
  padding-left: 3%;
  padding-top: 3%;
}


.loginB {
  padding: 12px 8px;
}

button {
  border-radius: 8px;
  background-color: #060a0b;
  color: #eee;
}

/*.text {
  color: white;
  font-size: 10pc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}*/

/**********Signup.html****/


