/*background will be charcole
/ font will be black
/ on mouse over it will be silver or platinum
/ or will transition to transparent image.*/

body {
	/*background: #333;*/
	/*background: #070806;*/
	background: #040809fc
	/*color: #eee;*/
}
.overlay {
	transition: .5s ease;
}
.name:hover .overlay {
	color: #eee;
	/*color: #00000;*/
	font-size: 10pc;
	opacity:1;		
}
.bird {
	transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
}